{% extends 'layout.html' %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="symbol" id="symbol" autocomplete="off" autofocus placeholder="Symbol" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" id="shares" autocomplete="off" placeholder="Shares" type="number" min="0">
        </div>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}