{% extends 'layout.html' %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol" id="symbol">
                <option disabled selected value="Symbol">Symbol</option>

                {% for quote in quotes %}
                    <option value="{{ quote['symbol'] }}">{{ quote['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <input autocomplete="off" name="shares" id="shares" class="form-control mx-auto w-auto" type="number" min="0" placeholder="Shares">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}